html, body {
  margin: 0;
  height: 100%;
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
}

header {
  background-color: #80C517;
  width: 100%;
  height: 200px;
  display: flex;
}

.header-logo-container {
  background-color: rgb(99, 23, 41);
  width: 210px;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.header-logo {
  background-color: #002366;
  border-radius: 80px;
  width: 160px;
  height: 160px;
  margin: auto;
}

.header-text-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
}

.header-title {
  font-size: 60px;
  font-weight: 700;
  font-family: Times;
}

.header-subtitle {
  font-size: 25px;
  font-family: Times;
  margin: auto;
}

.navAndMain {
  display: flex;
  height: 90%
}

nav {
  background-color: #F1C550;
  width: 260px;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.nav-item {
  padding-top: 20px;
  font-size: 15px;
  font-family: Times;
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #F3E6C7;
}

.main .introduction {
  margin: 20px;
}

footer {
  background-color: #808080;
  font-family: Times;
  height: 50px;
  display: flex;
  justify-content: center;
}

.footer-item {
  margin: 20px 0 0 20px;
}
